body, html {
    padding: 5px;
    background-image: url("http://res.cloudinary.com/surendravidiyala/image/upload/v1498529446/redd-angelo-269935_rzyiw9.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
    font-family: Oswald;
    color: white;
}


/* BUTTONS ONLINE-OFFLINE */

#main .online {
    background-color: #5bc0de;
}

#main .add {
    font-family: Oswald;
}

#searchUser, .add, .filter {
    margin-top: 4px;
    margin-bottom: 4px;
}


/* STREAMERS */

.streamer {
    font-family: Josefin Sans;
    img {
        width: 50px;
    }
    p {
        margin-top: 2px;
    }
}

.status-online {
    color: white;
    transition: 0.7s;
    &:hover {
        color: lightgrey;
        text-decoration: none;
    }
}
footer p {
    font-family: "Josefin Sans";
    color: #ffffff;;
  text-align:center;
}
.icon{color:red;}
footer a {color:#ffffff;}